<h1><%=  @band.name %></h1>

<section>
  <header><b>Albums</b></header>

  <ul>
    <%= render @albums %>
  </ul>
</section>

<nav>
  <header><b>Links</b></header>

  <ul>
    <li><%= link_to "New Album", new_band_album_url(@band) %></li>
    <li><%= link_to "Edit Band", edit_band_url(@band), method: :get %></li>
    <li><%= link_to "Delete Band", band_url(@band), method: :delete %></li>
    <li><%= link_to "All Bands", bands_url %></li>
  </ul>
</nav>
